*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
}
nav{
    background-color: grey;
}
ul{
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    justify-content: center;
    align-items: center;

}



li:nth-of-type(6){
    /*display: flex;*/
    /*justify-content: flex-end;*/
    margin-left: auto;
    font-size: .6em;

}

li:nth-of-type(4){
    /*display: flex;*/
    /*justify-content: flex-end;*/
    margin-right: auto;
    /*padding: 0 15px;*/

}
.li1{
    font-size: .6em;
}
 .li2, .li3, .li4 {
    padding: 0 10px;
     font-size:.6em;
}

#logo{
    margin:auto;
    font-family: Montserrat, sans-serif;
    font-size:3em;
    padding: .2em 0 .2em 0;
}


li:nth-child(2){
    align-items: flex-start;
}
nav a {
    text-decoration: none;
    color:black;
    /*display: flex;*/
    /*display:inline-block;*/

}
a:hover{
    color:blue;
    /*display:inline-block;*/

}

