*{
    /*background-color: rgba(224, 24, 24, 0.75);;*/
    padding: 0;
    margin: 0;


}
ul{
    list-style-type: none;
    display:flex;
    flex-direction: row;


    margin:0px;
    padding:0px;
    /*display: inline;*/
    width:100%;
    text-align: center;
    overflow:hidden;
    border-bottom: 1px solid lightgray;
    background-color: rgba(224, 24, 24, 0.85);
}

li{
    list-item: none;
    padding: 20px;
    /*float: right;*/
    /*text-align: center;*/
    /*padding: 10px 15px;*/
    /*border-bottom: 1px solid #333333;*/
    font-family: Montserrat, sans-serif;
    font-size: 15px;
}



.sameColor{
    color:white;
}
#colorchange{
    background-color: white;
    border: 1px solid transparent ;
}


header{
    background-color: rgba(224, 24, 24, 0.85);
}
#header{
    text-align: center;
    margin: 0em;
    color:white;
    background-color: rgba(224, 24, 24, 0.85);
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    padding: 5px

}
h1{
    padding-top: 100px;
    padding-bottom: 25px;
}
#button{
    background-color: black;
    color: white;
    /*height: 5px;*/
    padding: 10px;
    margin-bottom: 10em;
    margin-top:1.5em;
}
#div1{
    background-color: white;

}
#div2{
    background-color: rgba(128, 128, 128, 0.35);
}
#title1{
    padding:1.5em;
    margin-left: 3.5em;
}
#bold{
    padding:1.5em;
    font-weight: bold;
    float: inside;
    width: 30em;
    margin-left:6em;

}
#regular{
    padding: 1.5em;
    width: 30em;
    margin-left:6em;
    color:darkgray;
}
#bold2{
    padding:1.5em;
    font-weight: bold;
    float: inside;
    width: 30em;
    margin-left:20em;

}
#regular2{
    padding: 1.5em;
    width: 30em;
    margin-left:20em;
    color: darkgray;
}
#title2{
    padding:1.5em;
    margin-left: 13em;
}

#finale{
    background-color: darkgray;
    text-align: center;
    padding: 3em;
}
#firstImage {

}